{% extends 'base.html' %}

{% block title %}All Elections{% endblock %}

{% block head %}
<script>
  login_required();

  function build_table() {
    let sock = new WebSocket(`${talliers[0]}/elections`);
    sock.onopen = (event) => sock.send(JSON.stringify(cookies_login()));
    sock.onclose = (event) => {
      if (event.code !== 1000) {
        alert("something failed");
      }
    };
    sock.onmessage = (event) => {
      const obj = JSON.parse(event.data);

      const build_label = (text) => {
        const cell = document.createElement('td');
        cell.appendChild(document.createTextNode(text));
        return cell;
      };
      const build_button = (label, func) => {
        const cell = document.createElement('td');
        const btn = document.createElement('input');
        btn.type = 'button';
        btn.onclick = func;
        btn.value = label;
        cell.appendChild(btn);
        return cell;
      };

      const managed = document.getElementById('managed');
      obj.managed.forEach(election => {
        const row = document.createElement('tr');
        row.appendChild(build_label(election.name));
        row.appendChild(build_label(election.election_id.split('-')[0]));
        if (election.is_running == "False") {
          row.appendChild(build_button('Start', (event) => communicate(
            "elections/start", { ...cookies_login(), id: election.election_id }, (event) => {
              alert('Election Started.\nEmails have been sent to all participants.');
              location.reload();
            }, (event) => {
              alert('Something failed.');
            })));
        } else {
          row.appendChild(build_button('Stop', (event) => communicate(
            "elections/stop", { ...cookies_login(), id: election.election_id }, (event) => {
              alert('Election closed.\nEmails with results have been sent to all participants.');
              location.reload();
            }, (event) => {
              alert('Something failed.');
            })));
          row.appendChild(build_label(`${election.voted} have voted`));
        }
        managed.appendChild(row);
      });

      const voting = document.getElementById('voting');
      obj.voting.forEach(election => {
        const row = document.createElement('tr');
        row.appendChild(build_label(election.name));
        row.appendChild(build_label(election.election_id.split('-')[0]));
        if (election.is_running == "False") {
          row.appendChild(build_label("Not running"));
        } else if (election.have_voted == "False") {
          row.appendChild(build_button('Vote', (event) => {
            location.href = `election/vote?id=${election.election_id}`;
          }));
        } else {
          row.appendChild(build_label("Already voted"));
        }
        voting.appendChild(row);
      });
    };
  }
</script>
{% endblock %}

{% block content %}
<form id="form">
  <a href="election/create">Create Election</a>
  <h3>Managed by me</h3>
  <table border="1">
    <tbody id="managed">
      <tr>
        <th>Name</th>
        <th>UUID</th>
      </tr>
    </tbody>
  </table>
  <h3>Can Vote</h3>
  <table border="1">
    <tbody id="voting">
      <tr>
        <th>Name</th>
        <th>UUID</th>
      </tr>
    </tbody>
  </table>

  <script>
    build_table();
  </script>
</form>
{% endblock %}
