{% extends 'base.html' %}

{% block title %}View Election{% endblock %}

{% block head %}
<script>
  login_required();

  function load() {
    const election_id = new URL(window.location.href).searchParams.get("id");
    if (election_id == null) {
      location.href = '../elections';
    } else {
      let sock = new WebSocket(`${talliers[0]}/election/extra`);
      sock.onopen = (event) => sock.send(JSON.stringify({ ...cookies_login(), id: election_id }));
      sock.onclose = (event) => {
        if (event.code !== 1000) {
          alert("something failed");
          location.href = '../elections';
        }
      };
      sock.onmessage = (event) => {
        const election = JSON.parse(event.data);
        document.getElementById("id").value = election_id;
        document.getElementById("name").value = election.name;
        document.getElementById("email").value = election.manager_email;
        document.getElementById("rule").value = election.rule;
        document.getElementById("candidates").value = election.candidates.join('\n');
        document.getElementById("voters_lb").appendChild(document.createTextNode(`Voters: ${election.voted}/${election.voters.length} voted`));
        document.getElementById("voters").value = election.voters.join('\n');
        if (election.winners) {
          document.getElementById("winners_lb").appendChild(document.createTextNode(`Winners: ${election.winners.length}`));
          document.getElementById("winners").value = election.winners.join('\n');
        } else {
          document.getElementById("winners_div").style.display = "none";
        }
      };
    }
  }
</script>
{% endblock %}

{% block content %}
<form id="form">
  <div>
    <label for="name">Election ID:</label><br />
    <input type="text" id="id" style="width: 180px;" disabled /><br />
    <label for="name">Manager Email:</label><br />
    <input type="text" id="email" style="width: 180px;" disabled /><br />
    <label for="name">Election Name:</label><br />
    <input type="text" id="name" style="width: 180px;" disabled /><br />
  </div>

  <div>
    <label for="name">Selected Rule:</label><br />
    <input type="text" id="rule" style="width: 180px;" disabled /><br />
  </div>

  <div>
    <label for="candidates">Candidates:</label><br />
    <textarea id="candidates" style="width: 180px; height: 6em;" disabled ></textarea>
  </div>

  <div>
    <label for="voters" id="voters_lb"></label><br />
    <textarea id="voters" style="width: 180px; height: 6em;" disabled ></textarea>
  </div>

  <div id="winners_div">
    <label for="winners" id="winners_lb"></label><br />
    <textarea id="winners" style="width: 180px; height: 6em;" disabled ></textarea>
  </div>
</form>
<script>
  load();
</script>
{% endblock %}
