{% extends 'base.html' %}

{% block title %}All Elections{% endblock %}

{% block head %}
<script>
  login_required();

  function build_table() {
    let sock = new WebSocket(`${talliers[0]}/elections`);
    sock.onopen = (event) => sock.send(JSON.stringify(cookies_login()));
    sock.onclose = (event) => {
      if (event.code !== 1000) {
        alert("something failed");
      }
    };
    sock.onmessage = (event) => {
      const elections = JSON.parse(event.data);

      const make_label = (text) => document.createTextNode(text);
      const make_link = (text, target) => {
        const a = document.createElement('a');
        a.href = target;
        a.appendChild(document.createTextNode(text));
        return a;
      };
      const make_btn = (label, func) => {
        const btn = document.createElement('input');
        btn.type = 'button';
        btn.onclick = func;
        btn.value = label;
        return btn;
      };
      const make_cell = (...elements) => {
        const cell = document.createElement('td');
        elements.forEach(elem => cell.appendChild(elem));
        return cell;
      };

      const table = document.getElementById("elections");
      elections.forEach(election => {
        const row = document.createElement('tr');
        row.appendChild(make_cell(make_label(election.name)));
        row.appendChild(make_cell(make_link(election.election_id.split('-')[0], `election/view?id=${election.election_id}`)));
        if (election.is_finished == "True") {
          row.appendChild(make_cell(make_label("Finished")));
        } else if (election.is_running == "True") {
          row.appendChild(make_cell(make_label(`Running ${election.voted}/${election.voters} Votes`)));
        } else {
          row.appendChild(make_cell(make_label("Waiting to start")));
        }

        if (election.is_finished == "False") {
          row.appendChild(make_cell(
            ...(election.is_manager == "False" ? [] : [
              (election.is_running == "False") ? make_btn("Start", (event) => communicate(
              "elections/start", { ...cookies_login(), id: election.election_id }, (event) => {
                update_cookie();
                alert('Election Started.\nEmails have been sent to all participants.');
                location.reload();
              }, (event) => {
                alert('Something failed.');
              })) : make_btn("Stop", (event) => communicate(
              "elections/stop", { ...cookies_login(), id: election.election_id }, (event) => {
                update_cookie();
                alert('Election closed.\nEmails with results have been sent to all participants.');
                location.reload();
              }, (event) => {
                alert('Something failed.');
              }))
            ]),
            ...(election.can_vote == "False" || election.is_running == "False" ? [] : [
              make_btn("Vote", (event) => {
                update_cookie();
                location.href = `election/vote?id=${election.election_id}`;
              })
            ])
          ));
        }
        table.appendChild(row);
      });
    };
  }
</script>
{% endblock %}

{% block content %}
<form id="form">
  <a href="election/create">Create Election</a>
  <h3>Elections</h3>
  <table border="1">
    <tbody id="elections">
      <tr>
        <th>Name</th>
        <th>UUID</th>
      </tr>
    </tbody>
  </table>

  <script>
    build_table();
  </script>
</form>
{% endblock %}
