<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Election</title>
    <script>
      if (!["email", "number"].every((name) => document.cookie.split(';').some((item) => item.trim().startsWith(`${name}=`)))) {
        alert('You need to login');
        location.href = '../login';
      }

      function cookies_login() {
        return {
          email: document.cookie.split('; ').find(row => row.startsWith('email=')).split('=')[1],
          number: parseInt(document.cookie.split('; ').find(row => row.startsWith('number=')).split('=')[1]),
        }
      }

      function loadCsv() {
        const reader = new FileReader();
        const voters = document.getElementById("voters");
        reader.onload = event => {
          event.target.result.split("\n").forEach(email => {
            if (email.length > 0) {
              const option = document.createElement("option");
              option.text = email;
              option.value = email;
              voters.appendChild(option);
            }
          })
        };
        [...document.getElementById("voters_csv").files].forEach((input) => {
          reader.readAsText(input);
        });
      }

      function uuidv4() {
        return ([1e7] + -1e3 + -4e3 + -8e3 + -1e11).replace(/[018]/g, c =>
          (c ^ crypto.getRandomValues(new Uint8Array(1))[0] & 15 >> c / 4).toString(16)
        );
      }

      function create() {
        const talliers = {{talliers | tojson}};
        let OKs = 0;

        const onmessage = (event) => alert(event.data);
        const onclose = (event) => {
          if (OKs < 0) {
          } else if (event.code === 1000) {
            OKs += 1;
            if (OKs == talliers.length) {
              alert('All OK');
            }
          } else {
            OKs = -1;
            alert('Someone said no');
          }
        };
        const election_id = uuidv4();
        talliers.forEach(tallier => {
          let exampleSocket = new WebSocket(`${tallier}/elections/create`);
          exampleSocket.onopen = (event) => exampleSocket.send(JSON.stringify({
            ...cookies_login(),
            name: document.getElementById("name").value,
            id: election_id,
            candidates: document.getElementById("candidates").value.split('\n').map(s => s.trim()),
            K: 1,
            p: 2147483647,
            L: 1,
            rule: parseInt(document.getElementById("form").elements["rule"].value),
            voters: [...document.getElementById("voters").options].map(o => o.text)
          }));
          exampleSocket.onmessage = onmessage;
          exampleSocket.onclose = onclose;
        });
      }
    </script>
  </head>
  <body>
    <form id="form">
      <h3>Election Configuration</h3>
      <label for="name">Name:</label><br />
      <input type="text" id="name" style="width: 180px;" required /><br />
      <label for="candidates">Candidates:</label><br />
      <textarea id="candidates" style="width: 180px; height: 6em;" required ></textarea><br/>
      <!--<label for="winners">Winners Amount:</label>
      <input type="number" id="winners" value="1" min="1" style="width: 50px;" required /><br />-->
      <table style="border: 0;">
        <tbody>
          <tr>
            <td>
              <input type="radio" id="rule_plurality" value="1" name="rule" checked="checked" />
              <label for="rule_plurality">plurality</label>
            </td>
            <td>
              <input type="radio" id="rule_approval" value="3" name="rule"  />
              <label for="rule_approval">approval</label>
            </td>
          </tr>
        </tr>
        <tr>
          <td>
            <input type="radio" id="rule_veto" value="4" name="rule"  />
            <label for="rule_veto">veto</label>
          </td>
          <!-- <td>
            <input type="radio" id="rule_borda" value="5" name="rule"  />
            <label for="rule_borda">borda</label>
          </td> -->
        </tr>
        <tr>
          <!-- <td colspan="2">
            <input type="radio" id="rule_range" value="2" name="rule"  />
            <label for="rule_range">range</label>
          </td> -->
        </tr>
        </tbody>
      </table>
      <h3>Voters</h3>
      <select id="voters" size="5" style="width: 180px;" ></select><br />
      <input type="file" id="voters_csv" accept=".csv" />
      <input type="button" value="Load" onclick="loadCsv()"><br />

      <input type="button" value="Register" onclick="create()">
      <input type="reset">
    </form>
  </body>
</html>
