{% extends 'base.html' %}

{% block title %}Election Vote{% endblock %}

{% block head %}
<script>
  function borda_handleDragStart(e) {
    this.style.opacity = '0.4';
    dragSrcEl = this;
    e.dataTransfer.effectAllowed = 'move';
    e.dataTransfer.setData('text/html', this.innerHTML);
  }
  function borda_handleDrop(e) {
    e.stopPropagation(); // stops the browser from redirecting.
    if (dragSrcEl !== this) {
      dragSrcEl.innerHTML = this.innerHTML;
      this.innerHTML = e.dataTransfer.getData('text/html');
      let temp = this.getAttribute('value');
      this.setAttribute('value', dragSrcEl.getAttribute('value'));
      dragSrcEl.setAttribute('value', temp);
    }
    return false;
  }
  function borda_handleDragEnd(e) {
    this.style.opacity = '1';
    document.querySelectorAll('.box').forEach((item) => {
      item.classList.remove('over');
    });
  }
  function borda_handleDragOver(e) {
    if (e.preventDefault)
      e.preventDefault();
    return false;
  }
  function borda_handleDragEnter(e) {
    this.classList.add('over');
  }
  function borda_handleDragLeave(e) {
    this.classList.remove('over');
  }

  function addmod(x, y, n) {
    if (x + y <= x) x = x - (n - y) % n;
    else x = (x + y) % n;
    return x;
  }
  function sqrmod(a, n) {
    var b, sum = 0;
    a = a % n;
    for (b = a; b != 0; b >>= 1) {
      if (b & 1) {
        sum = addmod(sum, a, n);
      }
      a = addmod(a, a, n);
    }
    return sum;
  }
  function expmod(base, exp, mod){
    if(exp === 0)
      return 1;
    else if(exp % 2 === 0)
      return sqrmod(expmod(base, exp / 2, mod) % mod, mod);
    else
      return (base * expmod(base, exp - 1, mod)) % mod;
  }
  function gen_shamir(value, key_count, threshold, p) {
    const coeef = [value].concat(Array.from(Array(threshold - 1).keys(), () => Math.floor(Math.random() * p)));
    const sum_func = (accumulator, currentValue) => addmod(accumulator, currentValue, p);
    return Array.from(Array(key_count).keys(), (x) => Array.from(coeef, (a, i) => (a * expmod(x + 1, i, p)) % p).reduce(sum_func));
  }
  function votesystem_range(name, idx) {
    const row = document.createElement('tr');
    let cell = document.createElement('td');
    const range = document.createElement('input');
    range.type = 'range';
    range.min = 0;
    range.setAttribute('value', 0);
    range.value = 0;
    range.max = config.L;
    range.name = range.id = `value${idx}`;
    cell.appendChild(range);
    const label = document.createElement('label');
    label.htmlFor = `value${idx}`;
    label.textContent = `${name} (0)`;
    range.addEventListener('change', (event) => {
      label.textContent = `${name} (${event.target.value})`;
      event.target.setAttribute('value', event.target.value);
    });
    cell.appendChild(label);
    row.appendChild(cell);
    return row;
  }
  function votesystem_radio(name, idx, inverse) {
    const row = document.createElement('tr');
    let cell = document.createElement('input');
    cell.type = 'radio';
    cell.id = `value${idx}`;
    cell.name = 'vote';
    cell.addEventListener('change', (event) => {
      event.target.value = (event.target.checked != inverse ? 1 : 0);
    });
    cell.checked = (idx == 0);
    cell.value = (cell.checked != inverse ? 1 : 0);

    row.appendChild(cell);
    cell = document.createElement('label');
    cell.htmlFor  = `value${idx}`;
    cell.appendChild(document.createTextNode(name));
    row.appendChild(cell);
    return row;
  }
  function votesystem_checkbox(name, idx) {
    const row = document.createElement('tr');
    let cell = document.createElement('input');
    cell.type = 'checkbox';
    cell.name = cell.id = `value${idx}`;
    cell.value = 0;
    cell.addEventListener('change', (event) => {
      event.target.value = (event.target.checked ? 1 : 0);
    });
    row.appendChild(cell);
    cell = document.createElement('label');
    cell.htmlFor  = `value${idx}`;
    cell.appendChild(document.createTextNode(name));
    row.appendChild(cell);
    return row;
  }
  function votesystem_borda(name, idx) {
    const row = document.createElement('tr');
    const box = document.createElement('div');
    box.draggable = true;
    box.classList.add('box');
    box.id = `value${idx}`;
    box.setAttribute('value', idx);
    box.addEventListener('dragstart', borda_handleDragStart, false);
    box.addEventListener('dragover', borda_handleDragOver, false);
    box.addEventListener('dragenter', borda_handleDragEnter, false);
    box.addEventListener('dragleave', borda_handleDragLeave, false);
    box.addEventListener('dragend', borda_handleDragEnd, false);
    box.addEventListener('drop', borda_handleDrop, false);
    box.appendChild(document.createTextNode(name));
    row.appendChild(box);
    return row;
  }
  function votesystem_condorcer(name, idx) {
    const row = document.createElement('tr');

    const cellItem = document.createElement('label');
    cellItem.appendChild(document.createTextNode(name));
    const cell = document.createElement('td');
    cell.appendChild(cellItem);
    row.appendChild(cell);

    config.candidates.forEach((_, i) => {
      const cellItem = document.createElement('input');
      cellItem.type = 'radio';
      cellItem.name = `value${idx}`;
      cellItem.value = i;
      cellItem.addEventListener('change', (event) => {
        event.target.value = parseInt(event.target.value);
      });
      const cell = document.createElement('td');
      cell.appendChild(cellItem);
      row.appendChild(cell);
    });

    return row;
  }

  login_required();

  function load_config() {
    const url = new URL(window.location.href);
    const election_id = url.searchParams.get("id");
    if (election_id == null) {
      location.href = '../elections';
    } else {
      let sock = new WebSocket(`${talliers[0]}/election`);
      sock.onopen = (event) => sock.send(JSON.stringify({ ...cookies_login(), id: election_id }));
      sock.onclose = (event) => {
        if (event.code !== 1000) {
          alert("something failed");
          location.href = '../elections';
        }
      };
      sock.onmessage = (event) => {
        config = JSON.parse(event.data);
        const table = document.getElementById('candidates');
        const gen_func = [
          (n, i) => votesystem_radio(n, i, false),
          votesystem_range,
          votesystem_checkbox,
          (n, i) => votesystem_radio(n, i, true),
          votesystem_borda,
          votesystem_condorcer,
          votesystem_condorcer,
        ][(config.selected_election_type - 1) || 0];
        config.candidates.forEach((name, idx) => {
          table.appendChild(gen_func(name, idx, 0));
        });
      };
    }
  }
  function collectVector(election_type) {
    if (election_type <= 5) {
      return config.candidates.map((name, idx) => parseInt(document.getElementById(`value${idx}`).getAttribute('value')));
    } else if (election_type == 6 || election_type == 7) {
      const unsetCandidate = config.candidates.find((_, idx) => !document.querySelector(`input[name=value${idx}]:checked`));
      if (unsetCandidate) {
        alert(`Unset value for ${unsetCandidate}`);
        throw new Error(`Unset value for ${unsetCandidate}`);
      }

      const isMaximin = election_type == 7;
      const selections = config.candidates.map((_, idx) => parseInt(document.querySelector(`input[name=value${idx}]:checked`).getAttribute('value')));
      return selections.flatMap((c1, i) => selections.slice(i+1).map((c2) => {
        if (c1 < c2) {
          return 1;
        } else if (isMaximin || c1 === c2) {
          return 0;
        }
        return -1;
      }));
    }
  }
  function send_vector(not_abstain) {
    const votes = collectVector(config.selected_election_type || 1);
    const D = talliers.length, t = (D + 1) / 2;
    const shares = votes.map(vote => gen_shamir(vote, D, t, config.p));

    const url = new URL(window.location.href);
    const election_id = url.searchParams.get("id");

    let OKs = 0;
    talliers.forEach((tallier, idx) => {
      let sock = new WebSocket(`${tallier}/elections/vote`);
      sock.onopen = (event) => sock.send(JSON.stringify({
        ...cookies_login(),
        id: election_id,
        not_abstain: not_abstain,
        votes: shares.map(x => x[idx])
      }));
      sock.onerror = (event) => {
        OKs = -1;
        dot_bad(idx, '#888');
        if (OKs < 0) {
          on_fail(event);
        }
      };
      sock.onclose = onclose;
      sock.onclose = (event) => {
        if (OKs < 0) {
          dot_bad(idx, '#F00');
        } else if (not_abstain == 1) {
          if (event.code == 1000) {
            OKs += 1;
            if (OKs == talliers.length) {
              update_cookie();
              alert('Ballot accepted');
              location.href = '../elections';
            }
          } else {
            OKs = -1;
            dot_bad(idx, '#F00');
            alert(`Validation failed with code: ${event.code}`);
          }
        } else {
          if (event.code == 4000) {
            OKs += 1;
            if (OKs == talliers.length) {
              update_cookie();
              alert('Abstain passed');
            }
          } else {
            OKs = -1;
            dot_bad(idx, '#F00');
            alert(`Abstain failed with code: ${event.code}`);
          }
        }
      };
    });
  }
</script>
<style>
  .container {
    display: grid;
    grid-template-columns: fit-content(60%);
    gap: 5px;
  }

  .box {
    border: 1px solid #666;
    background-color: #eee;
    border-radius: .5em;
    padding: 5px;
    cursor: move;
  }
  .box.over {
    border: 2px dotted #666;
  }
</style>
{% endblock %}

{% block content %}
<form>
  <div>
    <h3>Candidates:</h3>
    <table><tbody id="candidates"></tbody></table>
  </div>
  <input type="button" value="Abstain" onclick="send_vector(0)" />
  <input type="button" value="Send" onclick="send_vector(1)" />
  <input type="reset" />
</form>
<script>
  load_config();
</script>
{% endblock %}
