{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block head %}
<script>
  function login() {
    const email = document.getElementById("tb_email").value;
    const number = document.getElementById("tb_secret").value;

    communicate("login", { email: email, number: number }, (event) => {
      document.cookie = `email=${email}; SameSite=Lax; max-age=1200`;
      document.cookie = `number=${number}; SameSite=Lax; max-age=1200`;
      location.href = 'elections';
    }, (event) => alert('Login Failed'));
  }
</script>
{% endblock %}

{% block content %}
<form>
  <label for="tb_email">Enter your email:</label><br />
  <input type="email" id="tb_email" size="20" required /><br />
  <label for="tb_name">Enter your secret number:</label><br />
  <input type="number" id="tb_secret" size="20" required /><br />
  <input type="button" value="Login" onclick="login()">
  <input type="reset">
</form>
<div>
  <a href="register">Register</a>
</div>
{% endblock %}
