[Unit]
Description=SecureVoting mail server

[Container]
ContainerName=securevoting-mailserver
Image=registry.gitlab.com/egos-tech/smtp:latest
AutoUpdate=registry

PodmanArgs=--network-alias mailserver

Secret=securevoting-smtp-address,type=env,target=SMARTHOST_ADDRESS
Secret=securevoting-smtp-port,type=env,target=SMARTHOST_PORT
Secret=securevoting-smtp-user,type=env,target=SMARTHOST_USER
Secret=securevoting-smtp-password,type=env,target=SMARTHOST_PASSWORD

Network=securevoting.network

[Service]
Restart=always

[Install]
WantedBy=securevoting.target
