[Unit]
Description=SecureVoting network

[Network]
Subnet=10.89.0.0/24
Gateway=10.89.0.1
NetworkName=securevoting

PodmanArgs=--interface-name=podman1
#InterfaceName=podman1
